:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.loading_screen {
  background-color: #0a0a0a;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: calc(50vh - 60px);
}

.assignment,
.console {
  color: white;
  background-color: #171717;
  height: 100vh;
  min-width: 275px;
  width: 45vw;
  border: 1px solid white;
  overflow-y: auto;
}

.assignment h1,
.console h1 {
  text-align: center;
  margin: 12px;
  margin-bottom: 30px;
}

.assignment p,
.console p {
  padding: 16px;
  line-height: 25px;
  text-align: block;
}

.finishChallengeButton {
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
  align-items: center;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.finishChallengeButton:hover { 
  scale: 1.05 
}

.console_text {
  padding: 1px 8px;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
